<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/_all-skins.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">   

	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	

	{% block css %}	{% endblock %}
	
	<title>{% block title %} {% endblock %}</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Header Navigation -->
		{% include 'templates/partials/headerNav.twig' %}
		<!-- Sidebar Navigation -->
		<aside class="main-sidebar">
			{% include 'templates/partials/sidebarNav.twig' %}
		</aside>
		<!-- Content -->
		<div class="content-wrapper">
		<section class="content-header">
			<h1>{% block headContent %}	{% endblock %}</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Here</li>
			</ol>
		</section>
			<section class="content">
		{% include 'templates/partials/flash.twig' %}
				{% block content %}	{% endblock %}
			</section>
		</div>
		<!-- Footer -->
		{% include 'templates/partials/footer.twig' %}
	</div>
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/demo.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  		$('select').select2();
	<script type="text/javascript">
	</script>
	<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script> 
	<script>
	$(function () {
	    $('#example2').DataTable({
	    	"paging": true,
	    	"lengthChange": true,
	     	"searching": true,
	      	"ordering": true,
	      	"info": true,
	      	"autoWidth": true
	    });
	  });
	</script>
{% block script %} {% endblock %}
</html>
