<header class="main-header">    
    <a href="index2.html" class="logo">
        <span class="logo-mini"><b>POS</b></span>
        <span class="logo-lg"><b>POS</b> | Book Store</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">    
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                </a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul class="menu">
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>