<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{base_url()}}/assets/image/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>Admin</p>
            <a href="#"><i class="fa fa-circle text-success"></i> 
                Online
            </a>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <li class="treeview">
            <a href="{{path_for('home')}}"><i class="fa ion-ios-speedometer fa-lg"></i>
            <span>HOME</span></a>
        </li class="treeview">
        <li>
            <a href="{{path_for('sale')}}"><i class="fa ion-cube fa-lg"></i>
            <span>SALE</span></a>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-th-large"></i>
                <span>PRODUCT</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Add Product</a></li>
                <li><a href="#">List Product</a></li>
            </ul>
        </li>
    </ul>
</section>