{% extends 'templates/default.twig' %}

{% block title %} Profile Admin {% endblock %}
	{% block headContent %} Admin Profile  {% endblock %}
{% block content %}
	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-family:impact"> D A T A &nbsp; A D M I N</h3>

          <div class="box-tools pull-right">
          </div>
        </div>
            
        <div class="box-body">
         <center> <img src="http://logos.textgiraffe.com/logos/logo-name/Admin-designstyle-kiddo-m.png" alt="" ></center>
        </div></div>

	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-family:impact"> Admin 1</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body">
        <!-- /.box-body -->
          <b> Username :  </b><strong class="pull-right"><i>febirn</strong></i>
      </div>

		<div class="box-footer">
          <b> Name :  </b><strong class="pull-right"><i>Febi Adrian</strong></i>
      </div>      

		<div class="box-footer">
          <b> E-mail :  </b><strong class="pull-right">febirn123@gmail.com</strong></i>
      </div> 

	<div class="box-footer">
          <b> Tanggal Lahir :  </b><strong class="pull-right"><i> 23 Februari 1993 </strong></i>
      </div>        

		<div class="box-footer">
          <b> Phone Number :  </b><strong class="pull-right"><i>+62895-3323-1232</strong></i>
      </div>      

		<div class="box-footer">
          <b> City Addres :  </b><strong class="pull-right"><i>Baturaja, Palembang, Indonesia.</strong></i>
      </div></div>
 

	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-family:impact"> Admin 2</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body">
        <!-- /.box-body -->
          <b> Username :  </b><strong class="pull-right"><i>mxafii</strong></i>
      </div>

		<div class="box-footer">
          <b> Name :  </b><strong class="pull-right"><i>Muhammad Imam Syafi'i Nuruddin</strong></i>
      </div>      

		<div class="box-footer">
          <b> E-mail :  </b><strong class="pull-right"><i>mxafii123@gmail.com</strong></i>
      </div>  

	<div class="box-footer">
          <b> Tanggal Lahir :  </b><strong class="pull-right"><i> 10 September 1993</strong></i>
      </div>       

		<div class="box-footer">
          <b> Phone Number :  </b><strong class="pull-right"><i>+62897-3323-9090</strong></i>
      </div>      

		<div class="box-footer">
          <b> City Addres :  </b><strong class="pull-right"><i>Bojonegoro, Jawa Tengah , Indonesia.</strong></i>
      </div></div>
	                 
	<div class="box" >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-family:impact"> Admin 3</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body">
        <!-- /.box-body -->
          <b> Username :  </b><strong class="pull-right"><i>farhan09</strong></i>
      </div>

		<div class="box-footer">
          <b> Name :  </b><strong class="pull-right"><i>Farhan Mustaqiem</strong></i>
      </div>      

		<div class="box-footer">
          <b> E-mail :  </b><strong class="pull-right"><i>farhan.mustqm@gmail.com</strong></i>
      </div>    

		<div class="box-footer">
          <b> Tanggal Lahir :  </b><strong class="pull-right"><i> 26 Januari 2001</strong></i>
      </div>      
    

		<div class="box-footer">
          <b> Phone Number :  </b><strong class="pull-right"><i>+62895-7382-3628</strong></i>
      </div>      

		<div class="box-footer">
          <b> City Addres :  </b><strong class="pull-right"><i>Bekasi, Jawa Barat , Indonesia.</strong></i>
      </div>    

  {% endblock %}